{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^components",
    "^constants",
    "^hooks",
    "^layout",
    "^pages",
    "^services",
    "^store",
    "^styles",
    "^utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
